html {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #6E5593;
}

.form {
    display: flex;
    padding: 15px;
    width: 450px;
    flex-wrap: wrap;
    margin: 20px auto;
    
}

.lable{
    text-align: center;
    margin: auto;
    padding: 10px;
    color: #fff;
    width: 420px;
}

.checkbox{
    text-align:start
}

.input{
    margin-left: 60px;
    border-radius: 50px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    text-align: center;
    color: #46188b;
    font-size: 16px;
    font-weight: bold;
}

.input:focus {
    outline: none;
    border-color: green;
}

.rate{
    margin-left: 10px;
}

.bonus {
    margin-left: 80px;
}

.btn{
    margin: auto;
    margin-top: 20px;
    min-width: 150px;
        height: 40px;
        border: none;
        border-radius: 50px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        color: #ffffff;
        background-color: rgb(245, 128, 18);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
}

.btn:focus, 
.btn:hover{
    background-color: #f56512;;
}


.total-sum{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

::placeholder{
    color: #bdc0c0d5;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    padding-left: 15px;
}

.text{
    color: rgb(245, 128, 18);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0.03em;
    padding: 15px;
    margin: 0;
}

